page-inventory-tab {

    .own-item-divider {
        padding: 0 !important;
        text-align: center;
        font-weight: bold;
        color: #000;
        background-color: #DDDDDD;
    }

    ion-item {
        height: 3.5em;
    }

    button {
        width: 53px;
    }

    ion-item-options {
        width: 106px;
    }

    ion-icon {
        padding: 0 !important;
        font-size: 20px;
    }
}
