page-inventory-tab {

    .own-item-divider {
        padding: 0 !important;
        text-align: center;
        font-weight: bold;
        color: #000;
        background-color: #DDDDDD;
    }

    .item-inner {
        padding: 0 !important;
    }

    ion-item {
        height: 55px;
    }

    ion-item-options {
        width: 108px;
    }

    ion-item-options button {
        height: 54px !important;
        width: 54px !important;
        margin: 0 !important;
    }

    ion-icon {
        padding: 0 !important;
        font-size: 20px;
    }
}
